.footer {
  padding: 5px 0 10px;
  background-color: var(--primary);

  .copyright {
    font-size: 1rem;
    padding-inline: 15px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}
