.map_wrapper {
  padding: 30px 10px;

  & > * {
    paint-order: stroke;
    transition: all 0.3s ease;
    pointer-events: none;
  }

  h2 {
    text-align: center;
  }

  .map_container {
    margin-inline: auto;
    width: 100%;
    max-width: 1000px;
    overflow-x: scroll;
    
    .inner {
      min-width: 700px;
      pointer-events: all;
      position: relative;
    }

    .popup {
      padding: 5px 10px;
      background-color: var(--white);
      opacity: 0.7;
      border: 1px solid var(--black);
      border-radius: 10px;
      font-family: sans-serif;
      position: absolute;
      transform: translate(-50%, 150%);
    }

    .cls_1 {
      fill: #f1eefd;
    }

    .cls_2,
    .cls_3 {
      fill: #aad3df;
    }

    .cls_4,
    .cls_5 {
      fill: var(--primary);
    }

    .cls_6,
    .cls_7 {
      fill: #d9d0c9;
    }

    .cls_8 {
      opacity: 0.6;
      stroke: #fff;
      stroke-linejoin: round;
      stroke-width: 2px;
    }

    .cls_8,
    .cls_9 {
      fill: none;
    }

    .cls_10,
    .cls_17 {
      fill: #e5e6ea;
      stroke: #cecce2;
    }

    .cls_10,
    .cls_12 {
      stroke-miterlimit: 10;
    }

    .cls_10,
    .cls_13,
    .cls_7,
    .cls_5,
    .cls_3 {
      fill-rule: evenodd;
    }

    .cls_12 {
      fill: #d7dce4;
      stroke: #c0cad5;
    }

    .cls_13 {
      fill: #f7f6f6;
    }

    .cls_9 {
      stroke: #b9a99c;
      stroke-width: 0.75px;
    }

    .cls_15 {
      fill: var(--primary-light);
    }

    .selectable {
      cursor: pointer;
      pointer-events: all;
    }

    .pickup,
    .pickup * {
      fill: var(--tertiary);
      stroke: var(--black);
      stroke-width: 3px;
    }
  }
}
