.search_wrapper {
  padding: 30px 10px;
  text-align: center;

  h2 {
    padding: 10px;
  }

  .label {
    display: block;
  }

  .search {
    height: 2.5rem;
    width: 300px;
    padding: 3px 10px;
    font-size: 1.2rem;
  }

  .other {
    line-height: 43px;
  }

  .buttons {
    padding-top: 20px;
    margin-inline: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 30px;

    @media (max-width: 800px) {
      gap: 10px;
    }

    .button {
      width: 160px;
      padding: 7px 10px;
      font-size: 1rem;
      background-color: var(--white);
      border: solid 2px var(--primary);
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &.room {
        border-color: var(--blue-light);
      }

      &:hover[data-active='false'] {
        box-shadow: var(--shadow) var(--primary);
        scale: 1.05;
      }

      &[data-active='true'] {
        box-shadow: var(--shadow) var(--shadow-color);
        scale: 1.05;
      }
    }
  }
}
