:root {
  font-size: 17px;

  --primary: #aae4ba;
  --primary-light: #e0fae9;
  --secondary: #aad3df;
  --tertiary: #f7fabf;
  --background: #f7f6f6;
  --background-dark: #cecce2;
  --background-light: #F1EEFD;

  --white: #fff;
  --black: #000;
  --gray: #e5e6ea;

  --shadow: 0px 0px 5px;
  --shadow-color: rgba(0, 0, 0, 0.5);

  --header-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}