.facilitylist {
  padding: 30px 10px;
  text-align: center;

  @media (min-width: 800px) {
    padding: 50px;
  }

  h2 {
    padding: 10px;
  }

  .container {
    .buttons {
      padding: 15px 0;
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: 10px 30px;
      
      &:nth-of-type(n + 2) {
        border-top: 1px dashed;
      }

      @media (max-width: 800px) {
        gap: 10px;
      }

      .button {
        padding: 7px 10px;
        font-size: 1rem;
        background-color: var(--white);
        border: solid 2px var(--primary);
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover[data-active='false'] {
          box-shadow: var(--shadow) var(--primary);
          scale: 1.05;
        }

        &[data-active='true'] {
          box-shadow: var(--shadow) var(--shadow-color);
          scale: 1.05;
        }
      }
    }
  }
}
